NODE_ENV=development
TZ=America/Argentina/Buenos_Aires

BACKEND_PORT=3000
FRONTEND_PORT=5173
FRONTEND_URL=http://localhost:5173
APP_BASE_URL=http://localhost:3000

DB_HOST=sqlserver
DB_PORT=1433
DB_PORT_EXTERNAL=1433
DB_NAME=dinamic_attendance
DB_USER=sa
DB_PASSWORD=YourStrongPassword123!
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true

VITE_API_URL=http://localhost:3000/api
